:root {
    --TheOrange: #FF8D07;
}

#divMenuPrincipal {
    padding: 0%;
    font-size: 1.5em;
}

#divNavBar {
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    border: none;
    margin: none;
}

#divLogo {
    background-color: var(--TheOrange);
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#imgLogo {
    width: 80px;
    height: auto;
    margin-top: 10px;
}

#divNavBar a {
    font-size: 1.5em;
}

#divMenuPrincipal .navbar {
    border-radius: 0%;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.carousel {
    position: absolute;
    height: 100%;
    width: 100%;
}

.carousel-inner,
.item,
.item-active {
    height: 100%;
    width: 100%;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    width: 100%;
    object-fit: cover;
}

.landingTitle {
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: 7em;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.landingSubtitle {
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 3em;
    color: var(--TheOrange);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnInfo {
    position: absolute;
    left: 10%;
    top: 42%;
    font-size: 1.5em;
    background: #FFFFFF;
    border-radius: 50px;
    width: auto;
    height: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: center;
    align-items: center;
}

.btnInfo:hover {
    background-color: yellowgreen;
    border-color: none;
    text-decoration: none;
    color: black;
}

.carousel img {
    width: auto;
    height: auto;
    object-fit: fill;
}

.divMask {
    width: 50%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.464) 100%);
}

#divRides {
    position: absolute;
    top: 60%;
    width: 80%;
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
}

#lblRide {
    color: white;
    font-size: 3em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

#rowRide div {
    background-color: var(--TheOrange);
    width: 20em;
    height: 3em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1EM;
    margin-right: 25PX;
}

#rowRide div input,
#rowRide div input:hover,
#rowRide div input:active,
#rowRide div input:focus {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-color: 0px solid black;
    height: 60%;
    border: 0px solid red;
    border-bottom: 1px solid black;
    color: black;
    outline: none;
    color: black;
}

::placeholder {
    color: black;
    font-size: 1.25em;
    font-style: italic;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
}

#rowGo {
    width: 80%;
}

#rowGo button {
    background-color: yellowgreen;
    height: 3em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1EM;
    margin-left: 0%;
}


/*Full HD*/

@media (min-width: 1025px) {
    #rowGo button {
        width: 85em;
    }
    #rowRide div input {
        width: 80%;
    }
}


/*ipad*/

@media (max-width: 1024px) and (min-width:641px) {
    .landingTitle {
        font-size: 5em;
        position: absolute;
        top: 12%;
        left: 12%;
    }
    .landingSubtitle {
        font-size: 3em;
        position: absolute;
        top: 20%;
        left: 12%;
    }
    .btnInfo {
        font-size: 2em;
        position: absolute;
        top: 35%;
        left: 12%;
    }
    #rowGo button {
        width: 42em;
    }
    #rowRide div input {
        width: 20em;
    }
    #divNavBar a {
        font-size: 1.2em;
    }
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
}


/*iphone*/

@media (max-width: 640px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 25px;
    }
    .carousel {
        position: absolute;
        top: 280px;
    }
    .landingTitle {
        font-size: 5em;
        position: absolute;
        top: 12%;
        left: 12%;
    }
    .landingSubtitle {
        font-size: 2.5em;
        position: absolute;
        top: 20%;
        left: 12%;
    }
    .btnInfo {
        font-size: 1.5em;
        position: absolute;
        top: 30%;
        left: 12%;
    }
    #rowGo button {
        width: 30em;
    }
    #rowRide div input {
        width: 30em;
    }
    #rowRide div {
        width: 30em;
    }
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }
}