            #divConfigRides {
                position: absolute;
                top: 15%;
                width: 80%;
                height: auto;
                margin-right: 10%;
                margin-left: 10%;
            }
            
            .imgRide {
                max-width: 100%;
                padding: 3%;
                border-radius: 7%;
                object-fit: cover;
            }
            
            .rowItemRide {
                width: 80%;
                height: auto;
                margin-left: 10%;
                border-bottom: 2em;
                border-radius: 25px;
                background-color: white;
            }
            
            h1 {
                font-size: 3em;
                font-weight: bold;
                color: var(--TheOrange);
                margin-top: 5%;
            }
            
            h2 {
                font-size: 2em;
                font-weight: bold;
            }
            
            .rowItemRide {
                margin-bottom: 2.5%;
                padding: 1%;
            }
            
            .divLogoRide {
                padding: 0%;
                padding-left: 0%;
                padding-right: 0%;
                width: 80%;
                height: 80%;
            }
            
            .divLogoRide,
            .col-sm-5 {
                padding: 0%;
            }
            
            .btn-success,
            .btn-primary,
            .btn-danger {
                width: 100%;
                margin-bottom: 1%;
            }
            
            #divEspacio {
                margin: 0%;
                width: 100%;
            }
            
            #divEspacio2 {
                margin: 0%;
                width: 100%;
            }
            
            .UbicacionRide {
                font-size: 2.5em !important;
            }
            /* Perfil */
            
            .imgPerfil {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                margin-top: 3em;
                margin-bottom: 3em;
            }
            
            #divImgPerfil {
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url("../img/arenal.jpg");
            }
            
            #frmPerfil {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top: 5%;
            }
            
            #frmPerfil div input,
            label {
                padding: 1%;
                font-size: 2em;
            }
            
            #btnPerfil {
                padding: 1%;
                font-size: 2em;
                padding-left: 100px;
                padding-right: 100px;
                color: #fff;
                background-color: #5cb85c;
                border-color: #4cae4c;
                border-radius: 4px;
            }
            /* Log In */
            
            #divBackgroudLogIn {
                background-color: red;
                width: 100%;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url("../img/Limon.jpg");
            }
            
            #divDataLogIn {
                background-color: var(--TheOrange);
                border-radius: 4%;
                padding: 2.5%;
                width: 40%;
                text-align: center;
            }
            
            #lblLogin {
                color: white;
            }
            
            #btnLogIn {
                width: 100%;
                color: #fff;
                background-color: #5cb85c;
                border-color: #4cae4c;
                border-radius: 4px;
                font-size: 1em;
            }
            
            #lblRegistro {
                color: black;
                font-size: 1.5em;
            }
            /* detalle */
            
            h3 {
                display: inline-block;
                margin-top: 4px;
            }
            /*ipad*/
            
            @media (max-width: 1024px) and (min-width:641px) {
                h1 {
                    font-size: 2em;
                    font-weight: bold;
                    color: var(--TheOrange);
                }
                h2 {
                    font-size: 1.5em;
                    font-weight: bold;
                }
                .imgRide {
                    max-width: 100%;
                    padding: 5%;
                    border-radius: 4px;
                }
                .btn-success,
                .btn-primary,
                .btn-danger {
                    margin-top: 5px;
                    font-size: 1em;
                }
                .UbicacionRide {
                    font-size: 1.75em !important;
                }
                #divDataLogIn {
                    width: 60%;
                }
                #lblLogin {
                    font-size: 3em !important;
                }
            }
            /*iphone*/
            
            @media (max-width: 640px) {
                #divConfigRides {
                    top: 297px;
                }
                .btn-success,
                .btn-primary,
                .btn-danger {
                    font-size: 1.5em;
                    margin-top: 1%;
                }
                .rowItemRide {
                    margin-bottom: 4%;
                    padding: 1%;
                }
                .rowItemRide {
                    padding-bottom: 5%;
                }
                #divEspacio {
                    height: 400px !important;
                }
                #rowRide div {
                    width: auto !important;
                }
                #rowGo {
                    width: 100%;
                }
                #rowGo button {
                    background-color: yellowgreen;
                    height: 3em;
                    border-radius: 4px;
                    width: 100% !important;
                }
                #divDataLogIn {
                    width: 60%;
                }
            }